<!-- partial:partial/_head.html -->
<!DOCTYPE html>
<html>
<head>
<!--Import Google Icon Font-->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900"
	rel="stylesheet">
<!--Import materialize.css-->
<link type="text/css" rel="stylesheet" href="/css/app.css"
	media="screen,projection" />

<!--Let browser know website is optimized for mobile-->
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<!-- partial -->

	<!-- partial:partial/_admin-header.html -->

	<ul id='login-list' class='dropdown-content'>
		<li><a href="./pub_authentication.html">Sair</a></li>
	</ul>
	<header class="public">
		<div class="container">
			<nav>
				<div class="nav-wrapper">
					<a href="#" data-target="mobile-demo" class="sidenav-trigger">
						<i class="material-icons">menu</i>
					</a> <a href="#" class="brand-logo"> <img
						src="images/logo-menu.png" alt="ARKA">
					</a>
					<ul id="nav-mobile" class="right hide-on-med-and-down">
						<li><a href="./admin_dashboard.html">Painel Administativo</a>
						</li>
						<li><a class='dropdown-trigger' href='#'
							data-target='login-list'> Olá, Fulano de Tal <i
								class="material-icons right">arrow_drop_down</i>
						</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<ul class="sidenav" id="mobile-demo">

			<li><a href="./admin_dashboard.html">Painel Administrativo</a></li>
			<li><a href="#"><strong>Olá, Fulano de Tal</strong></a>
				<ul>
					<li><a href="./pub_authentication.html">Sair</a></li>
				</ul></li>
		</ul>
	</header>
	<!-- partial -->

	<section class="logged">
		<div class="container">
			<div class="row">
				<!-- partial:partial/_admin-sidebar.html -->
				<div class="col sidebar l4 s12">
					<div class="row">
						<div class="info">
							<h5 class="left-align">
								<i class="material-icons left">settings</i>Dados Sistema
							</h5>
							<ul>
								<li><strong>1.252</strong> Veículos Cadastrados</li>
								<li><strong>1.252</strong> Veículos Disponíveis</li>
								<li><strong>1.252</strong> Veículos Acidentados</li>
								<li><strong>1.252</strong> Veículos Baixados</li>
							</ul>
						</div>
					</div>
				</div>
				<!-- partial -->
				<div class="col l1 s12"></div>
				<div class="col l7 s12">
					<div class="row">
						<h4>Veículo</h4>
					</div>
					<div class="row">
						<form action="#" class="col s12" th:action="@{/veiculo}" th:object="${veiculo}" method="post" id="form">
							<div class="row">
								<div class="input-field col s4">
									<input type="text" th:field="*{marcaModelo}" name="marcaModelo" id="marcaModelo">
									<label for="marcaModelo">Marca/Modelo</label>
								</div>
								<div class="input-field col s4">
									<input type="text" th:field="*{secao}" name="secao" id="secao"> <label
										for="secao">Seção</label>
								</div>
								<div class="input-field col s4">
									<input type="text" th:field="*{prefixo}" name="prefixo" id="prefixo"> <label
										for="prefixo">Prefixo</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s2">
									<input type="text" th:field="*{placaOficial}" name="placaOficial" id="placaOficial">
									<label for="placaOficial">Placa ofical</label>
								</div>
								<div class="input-field col s2">
									<input type="text" th:field="*{placaOstentada}" name="placaOstentada" id="placaOstentada">
									<label for="placaOstentada">Placa ost.</label>
								</div>
								<div class="input-field col s8">
									<input type="text" th:field="*{chassis}" name="chassis" id="chassis" onkeyup="maiuscula(this)"> 
									<label for="chassis">Chassis</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s2" id="fanoModelo">
									<!-- Este hard code deve ser dinâmico -->
									<select name="anoModelo" id="anoModelo">
										<option value="2001">2001</option>
										<option value="2002">2002</option>
										<option value="2003">2003</option>
										<option value="2004">2004</option>
										<option value="2005">2005</option>
										<option value="2006">2006</option>
										<option value="2007">2007</option>
										<option value="2008">2008</option>
										<option value="2009">2009</option>
										<option value="2010">2000</option>
										<option value="2011">2011</option>
										<option value="2012">2012</option>
										<option value="2013">2013</option>
										<option value="2014">2014</option>
										<option value="2015">2015</option>
										<option value="2016">2016</option>
										<option value="2017">2017</option>
										<option value="2018" selected>2018</option>
										<option value="2019">2019</option>
									</select> <label for="fanoModelo">Ano/Modelo</label>
								</div>
								<div class="input-field col s4">
									<input type="text" th:field="*{cor}" name="cor" id="cor"> <label
										for="cor">Cor</label>
								</div>
								<div class="input-field col s3">
									<input type="text" th:field="*{tombamento}" name="tombamento" id="tombamento"> <label
										for="tombamento">Tombamento</label>
								</div>
								<div class="input-field col s3">
									<input type="text" th:field="*{combustivel}" name="combustivel" id="combustivel">
									<label for="combustivel">Combustível</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s4">
									<input type="number" th:field="*{odometro}" name="odometro" id="odometro"
										class="validate"> <label for="odometro">Odômetro</label>
								</div>
								<div class="input-field col s3">
									<select name="conservacao" th:field="*{conservacao}" id="conservacao">
										<option value="BOA">BOA</option>
										<option value="REGULAR">REGULAR</option>
										<option value="RUIM">RUIM</option>
										<option value="ACIDENTADO">ACIDENTADO</option>
									</select> <label for="conservacao">Conservação</label>
								</div>
								<div class="input-field col s3">
									<select name="situacao" th:field="*{situacao}" id="situacao">
										<option value="ACIDENTADO">ACIDENTADO</option>
										<option value="BAIXADO">BAIXADO</option>
										<option value="DISPONÍVEL">DISPONÍVEL</option>
									</select> <label for="conservacao">Situação</label>
								</div>
							</div>
							<div class="row">
								<label>Caracterizado</label> <label> <input
									class="with-gap" name="caracterizado" id="caract" type="radio" value="S"
									 th:field="*{caracterizado}" /> <span>Sim</span>
								</label> <label> <input class="with-gap" name="caracterizado" value="N"
									type="radio" th:field="*{caracterizado}" /> <span>Não</span>
								</label> 
							</div>
							<div class="row">	
								<label>Pernoite</label> <label> <input class="with-gap" value="S"
									name="pernoite" id="caract" type="radio" th:field="*{pernoite}" /> <span>Sim</span>
								</label> <label> <input class="with-gap" name="pernoite" value="N" th:field="*{pernoite}"
									type="radio" /> <span>Não</span>
								</label>
							</div>
							<!-- 
                        <div class="row">
                            <div class="input-field col s6">
                                <select name="relative" id="employee">
                                    <option value="state">Estadual</option>
                                    <option value="city">Municipal</option>
                                    <option value="country">País</option>
                                </select>
                                <label>Abrangência</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select multiple>
                                    <option value="1">DF</option>
                                    <option value="2">SP</option>
                                    <option value="3">RJ</option>
                                    <option value="3">BH</option>
                                </select>
                                <label>Selecione estados</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s5">
                                <input type="text" class="datepicker" name="date" placeholder="10/10/2018" id="date">
                                <label for="date">Data</label>
                            </div>
                        </div>
                         -->
							<div class="row">
								<button type="submit" class="btn green waves-effect waves-light">SALVAR
									VEICULO</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- partial:partial/_admin-footer.html -->
	<footer class="public">
		<div class="container">
			<div class="row">
				<div class="col l3 s12">
					<div class="row">
						<img class="logo" src="images/logo-footer.png" alt="ARKA">
					</div>
					<div class="row">
						<h5>CONTATO</h5>
						<ul>
							<li>(61) 3333-3333</li>
							<li>contato@arkaonline.com.br</li>
							<li>QND 27 Lote 15 Sala 201</li>
						</ul>
					</div>
				</div>
				<div class="col l4 s12">
					<div class="row">
						<h5>NAVEGAÇÃO</h5>
						<ul>
							<li><a href="./admin_dashboad.html">Painel
									Administrativo</a></li>
							<li><a href="./admin_plans.html">Preços</a></li>
							<li><a href="./admin_utility.html">Cartilha do
									Empregador</a></li>
							<li><a href="./admin_utility.html">Cartilha da Diarista</a>
							</li>
							<li><a href="./admin_utility.html">Lei Complementar
									150/2015</a></li>
							<li><a href="./pub_rpa.html">RPA Diarista</a></li>
							<li><a href="./pub_index.html#faq">Dúvidas Frequentes</a></li>
						</ul>
					</div>
				</div>
				<div class="col l5 s12">
					<div class="row">
						<h5>SERVIÇOS ADMINISTRATIVOS</h5>
						<ul>
							<li><a href="./admin_clients.html">Clientes Cadastrados</a>
							</li>
							<li><a href="./admin_plans.html">Valores dos Planos</a></li>
							<li><a href="./admin_salaries.html">Cadastro de Salários
									Mínimos</a></li>
							<li><a href="./admin_support.html">Atendimento do
									Suporte</a></li>
							<li><a href="./admin_query.html">Atendimento Consultas
									Trabalhistas</a></li>
							<li><a href="./admin_knowledge.html">Base de
									Conhecimento</a></li>
							<li><a href="./admin_payment_report.html">Acompanhamento
									de Pagamentos</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- partial -->
	<!-- partial:partial/_foot.html -->
	<script type="text/javascript" src="/js/jquery-3.3.1-min.js"></script>
	<script type="text/javascript" src="/js/materialize-min.js"></script>
	<script type="text/javascript" src="/js/app-min.js"></script>
	<script type="text/javascript" src="/js/jquery.inputmask.bundle.js"></script>
	<script type="text/javascript">
	    $(document).ready(function() {
	      $("#placaOstentada").inputmask({
	        mask: "AAA-9999",
	      });
	      $("#placaOficial").inputmask({
		        mask: "AAA-9999",
	      });
	    });
	    $(document).on('keyup', "input[type=text]", function () {
	        $(this).val(function (_, val) {
	            return val.toUpperCase();
	        });
	    });
	</script>
	<script>
	</script>
	<!-- 
	<script type="text/javascript">
	// INICIO FUNÇÃO DE MASCARA MAIUSCULA
	function maiuscula(z){
	        v = z.value.toUpperCase();
	        z.value = v;
	    }
	//FIM DA FUNÇÃO MASCARA MAIUSCULA
	</script>
	 -->
</body>
</html>
<!-- partial -->